<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bill Protocol</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/rubic.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BillProtocol.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="header header-mini"> 
      <div class="header-title">
          <a href="/"><img src="~/images/logo.png" class="img-fluid" style="width:200px;" alt="Bill Protocol"/></a>
      </div> 
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            @*<li class="breadcrumb-item"><a href="/" class="ml-4 mt-1 btn btn-light btn-sm">Home</a></li>*@
            @if(User.Identity.IsAuthenticated)
            {
                
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Request")" class="ml-4 mt-1 btn btn-light btn-sm">Invoices</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Pay")" class="ml-4 mt-1 btn btn-light btn-sm">Received invoices</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Settings")" class="ml-4 mt-1 btn btn-light btn-sm">Settings</a></li>
            }
            
            <partial name="_LoginPartial" />
         </ol>
      </nav>
      <div class="">
          @if(User.Identity.IsAuthenticated)
          {
              <span class="h5" style="color:black;">Hi @User.Identity.Name!</span>
          }

          @await RenderSectionAsync("HeaderSection", required: false)
      </div>
   </header>
   <div class="container">
       @RenderBody()
       <br /><br /><br />
   </div>
   @*<footer class="footer py-4 bg-light"> 
        <div class="container text-center">
            <p class="mb-4 small">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p>
            <div class="social-links">
                <a href="javascript:void(0)" class="text-dark"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="text-dark"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="text-dark"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="text-dark"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="text-dark"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="text-dark"><i class="ti-rss"></i></a>
            </div>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
     <script src="~/js/rubic.js" asp-append-version="true"></script>
     <script src="~/js/util.js" asp-append-version="true"></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
