@model BillProtocol.Models.PayModel.IndexPayViewModel
@{
    ViewData["Title"] = "Received invoices";
}

@section HeaderSection 
{
    <div class="header-title">
        <span class="h3">@ViewData["Title"]</span>
    </div> 
    
}

<br />

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-4">
                   Start date: @Html.TextBoxFor(x => x.Form.startDate, new {@class="form-control", type="date"})
                 
                </div>
                <div class="col-md-4">
                    End Date: @Html.TextBoxFor(x => x.Form.endDate, new {@class="form-control", type="date"})
                </div>
                <div class="col-md-4">
                    Type: @Html.DropDownList("Form.invoiceType", Model.Types, "Select a type", new { @class = "form-control" })
                </div>
                
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    Currency: @Html.DropDownList("Form.currency", Model.Currencies, "Select a currency", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    Status: @Html.DropDownList("Form.status", Model.Status, "Select a status", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <br />
                    <input type="submit" value="Filter" class="btn btn-secondary" />
                </div>
            </div>
        }
    </div>
            

    </div>
<br /><br />


<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Type</th>
                    <th>Payment date</th>
                    <th>Total amount (currency)</th>
                    <th>Wallet to pay</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Invoices.Any())
                {
                    foreach(var invoice in Model.Invoices)
                    {
                        <tr>
                            <td>@invoice.CreatedAt</td>
                            <td>@invoice.InvoiceType.Name</td>
                            <td>@invoice.PaymentDate.ToShortDateString()</td>
                            <td>@invoice.TotalAmount (@invoice.Currency.Code)</td>
                            <td>@invoice.Wallet.Address</td>
                            @{
                                var badgeClass = invoice.InvoiceStatus.Id == Constants.PayedInvoiceStatus ? "badge-success" : (invoice.InvoiceStatus.Id == Constants.RejectedInvoiceStatus? "badge-danger":"badge-primary"); 
                            }
                            <td><span class="badge @badgeClass">@invoice.InvoiceStatus.Name</span></td>
                            <td>@Html.ActionLink("View", "Detail","Pay",new {id = invoice.Id}, new {@class="btn btn-secondary"})</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">You have no received invoices.</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>