@model BillProtocol.Models.SettingsModel.EditWalletViewModel
@{
    ViewData["Title"] = "Update wallet";
}

@section HeaderSection 
{
    <div class="header-title">
        <span class="h3">@ViewData["Title"]</span>
    </div> 
    
}

<br /><br />


<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            Update the data of the wallet if not corresponding.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            Changing the address of a wallet may imply the impossibility of collecting pending invoices through checks and escrows.
        </div>
    </div>
</div>


@using(Html.BeginForm())
{
    @Html.HiddenFor(x=> x.Form.Id)
    <div class="row">
        <div class="col-3">
            @Html.LabelFor(x=> x.Form.Name)
        </div>
        <div class="col-5">
            @Html.TextBoxFor(x=> x.Form.Name, new {@class="form-control"}) <br />
            @Html.ValidationMessageFor(x => x.Form.Name)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            @Html.LabelFor(x=> x.Form.Address)
        </div>
        <div class="col-5">
            @Html.TextBoxFor(x=> x.Form.Address, new {@class="form-control"}) <br />
            @Html.ValidationMessageFor(x => x.Form.Address)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-5">
            <br />
        </div>
        <div class="col-5">
            <input type="submit" value="Update wallet" class="btn btn-primary" />
        </div>
    </div>
}
<br /><br />